<div class="toolbar">
    <mat-toolbar color="primary">
        <span>
            {{title}}
        </span>
        <span class="nav-menu">
            <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]" routerLinkActive="active">
                {{item.label}}
            </button>
        </span>
    </mat-toolbar>
</div>
<div class="content">
    <router-outlet>
        <!-- https://hassantariqblog.wordpress.com/2017/03/22/angular2-using-custom-loader-spinner-as-service-in-angular-2-application/ -->
        <span *ngIf="showLoader" class="loading"></span>
    </router-outlet>
</div>