<mat-card>
  <mat-card-header>
    <mat-card-title>Balance</mat-card-title>
    <mat-card-subtitle>{{ accountBalance }} ETH</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Available reward</mat-card-title>
    <mat-card-subtitle>{{ reward }} ETH</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button (click)="claimReward()" mat-button [disabled]="reward <= 0 || reward === 'undefined' ">Claim</button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isOwner() || isGamemaster()">
  <mat-card-header>
    <mat-card-title>Manage Contract</mat-card-title>
  </mat-card-header>
  <button (click)="destroyContract()" mat-button  *ngIf="isOwner()">Destroy Contract</button>
  <form [formGroup]="contractForm" *ngIf="isOwner() || isGamemaster()">
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="newGamemaster" type="string">
    </mat-form-field>
    <button (click)="changeGamemaster()" mat-button [disabled]="!contractForm.valid">Change gamemaster</button>
  </form>
</mat-card>

<mat-card *ngIf="isOwner() || isGamemaster()">
  <mat-card-header>
    <mat-card-title>Manage PlayRound</mat-card-title>
  </mat-card-header>
  <form [formGroup]="managingForm" *ngIf="!isPlacingPhaseActive()">
    <mat-form-field>
      <mat-label>Required Ether</mat-label>
      <input matInput formControlName="requiredEth" type="number" step="0.1">
    </mat-form-field>
    <button (click)="startPlacingPhase()" mat-button [disabled]="!managingForm.valid">Start</button>
  </form>
  <button (click)="closePlacingPhase()" mat-button *ngIf="isPlacingPhaseActive()">Close</button>
</mat-card>

<mat-card *ngIf="bet == 0 && isPlacingPhaseActive()">
  <mat-card-header>
    <mat-card-title>Place bet</mat-card-title>
  </mat-card-header>
  <form [formGroup]="bettingForm">
    <mat-form-field>
      <mat-label>Ether</mat-label>
      <input matInput formControlName="eth" type="number" step="0.1">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Number of pips</mat-label>
      <input matInput formControlName="numberOfPips" type="number" step="1">
    </mat-form-field>
    <button (click)="placeBet()" mat-button [disabled]="!bettingForm.valid">Place bet</button>
  </form>
</mat-card>
<mat-card *ngIf="bet > 0 && isPlacingPhaseActive()">
  <mat-card-header>
    <mat-card-title>Your bet (waiting for the dice)</mat-card-title>
    <mat-card-subtitle>{{ bet }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-card *ngIf="!isPlacingPhaseActive()">
  <mat-card-header>
    <mat-card-title>PlayRound not active</mat-card-title>
    <mat-card-subtitle>Waiting for the Owner / Gamemaster to start a new PlayRound</mat-card-subtitle>
  </mat-card-header>
</mat-card>