<mat-card>
  <mat-card-header>
    <mat-card-title>Contract Owner</mat-card-title>
    <mat-card-subtitle>{{_ownerAddress}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Current address</mat-card-title>
    <mat-card-subtitle>{{_accountAddress}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>ETH balance</mat-card-title>
    <mat-card-subtitle>{{_accountBalance}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>